<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style> <% include ../public/stylesheets/style-test.css %> </style>
  </head>
  <body>
    <h1>Hello <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= description %></p>
  </body>
</html>

  
