<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    
</head>
<body>

<p><a href="/authorize">oAuth</a></p>
<p><a href="/projects/skulls">Get Top Skulled Projects</a></p>
<p><a href="/users/1">Get User's Data</a></p>

    <!-- Renders API Data: -->

    <div>
        <% for (var i = 0; i < (mainApi[0].projects).length; i++) { %>
            <%= (mainApi[0].projects[i]).name %><br>
        <% } %>
    </div>


</body>
</html>
