<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    
</head>
<body>

<p><a href="/authorize">oAuth</a></p>
<p><a href="/projects/skulls">Get Top Skulled Projects</a></p>
<p><a href="/users/1">Get User's Data</a></p>

    <!-- Renders API Data: -->

    <div>
        <hr>
        <br>
        <br>
        <% for (var i = 0; i < (apiData.users).length; i++) { %>
        	<div><%= (apiData.users[i]).username %></div>
    	<% } %>
    	<hr>
        <br>
        <br>
        <% for (var i = 0; i < (apiData_test.projects).length; i++) { %>
        <div><%= (apiData_test.projects[i]).name%></div>
    <% } %>
    </div>


</body>
</html>
