<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        body {
            font: 15px arial, san-serif;
        }
    </style>

</head>

<body>

    <div class="content">

      <%= projectsApi_detail.owner_id %><br>
      <%= projectsApi_detail.name %>
      
    </div>


</body>
</html>