@charset "UTF-8";
/*********************************************************************************** main.css */
body {
  font: 15px arial, san-serif;
  color: white;
  background-color: #06143d; }

a {
  text-decoration: none;
  color: #8fd2ff; }

.body {
  margin: 0px; }

.content_main, .content_detail {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.content_main {
  margin-bottom: 10em;
  margin-top: 7em;
  position: relative; }

.content_detail {
  margin-bottom: 7em;
  margin-top: -5em; }

.grid-image-container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 390px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 7em; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltip_content {
  visibility: hidden;
  min-width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  /*bottom 숫자 클수록 위로*/
  bottom: 120%;
  left: 50%;
  margin-left: -60px; }

.tooltip .tooltip_content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent; }

.tooltip:hover .tooltip_content {
  visibility: visible; }

.tooltip_circle, .detail_icon_circle {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: white; }

.tooltip_circle {
  border: 3px solid orange; }

.icon_circle {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: white; }

.tooltip_content_2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-bottom: 10px; }

.tooltip_content_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: left; }

.tooltip_content_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: left; }

.text_center, .grid_components_qty {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.text_center_left_align, .text_center, .grid_components_qty {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tooltip_grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px; }

.pagination {
  margin-top: 10em;
  text-align: center; }

.title {
  margin-top: 5px;
  color: orange;
  font-weight: normal;
  font-size: 20px; }
  .title:hover {
    color: #eb2226; }

.margin_bottom {
  margin-bottom: 5px; }

.margin_bottom_10 {
  margin-bottom: 10px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.grid_pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5em;
  font-weight: bold; }

.page_button {
  border-radius: 6px;
  padding: 20px;
  background: orange;
  color: #041030; }
  .page_button:hover {
    background: #eb2226;
    color: white; }

.header_main {
  font-weight: bold;
  text-align: center;
  margin-top: 10em; }

.header_title, .header_title_bold {
  font-size: 35px;
  color: white; }

.header_title_bold {
  font-weight: bold; }

.footer {
  text-align: center;
  color: #e3e3e3;
  font-size: 10px;
  margin-bottom: 3em; }

.a_screen_name_main {
  margin-left: 10px; }

.a_screen_name, .a_screen_name_main {
  color: white; }
  .a_screen_name:hover, .a_screen_name_main:hover {
    color: #dbd9d9; }

.default_image {
  /*background-color: #28334A;*/
  background-color: #2c3852;
  color: white;
  font-weight: bold; }

/*********************************************************************************** main_detail.css */
.grid_line {
  color: black;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding: 10px 0px; }

.grid_detail_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
  grid-template-columns: 3fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1em;
  margin-bottom: 10em; }

.grid_recommend {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.detail_icon_circle {
  margin-bottom: 10px; }

.header_summary {
  font-size: 20px; }

.float_right {
  margin-left: auto;
  margin-right: 0; }

.content_title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px; }

.content_desc {
  font-size: 16px;
  line-height: 150%; }

.content_desc img {
  max-width: 690px; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.content_title_col {
  font-size: 13px;
  padding-bottom: 30px; }

.line {
  background-color: orange; }

.content_line {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-bottom: 10em;
  margin-top: 0em;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr; }

.header_detail {
  position: relative;
  text-align: center;
  color: white;
  height: 450px; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.header_image {
  opacity: 30%; }

.grid_detail_content {
  padding: 0px 10px;
  max-width: 700px; }

@media screen and (max-width: 1200px) {
  .grid_detail_main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    margin-bottom: 10em; } }

@media screen and (min-width: 1200px) {
  .slider_control--prev {
    left: -50px;
    opacity: 30%; }
  .slider_control--next {
    right: -50px;
    opacity: 30%; } }

/* Recommended Projects / Recommended Users */
.carousel, .carousel1 {
  position: relative;
  height: 600px;
  margin: 0 auto; }

.carousel-content, .carousel-content1 {
  position: relative;
  overflow: hidden;
  -webkit-transition: width .4s;
  -o-transition: width .4s;
  transition: width .4s;
  height: 100%; }

.slide, .slide1 {
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  -o-transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89); }

.slide_item {
  padding: 10px; }

.slide_item_image {
  height: 400px; }

.slide_image_common, .image_attr, .slide_item_image_attr_user {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.image_attr {
  border-radius: 5px; }

.slide_item_image_attr_user {
  border-radius: 200px; }

.slide_item_title {
  color: orange;
  font-size: 20px; }
  .slide_item_title:hover {
    color: #eb2226; }

/* Slider Control */
.slider_control, .prev, .next {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  padding: 10px; }

.slider_control--prev:hover, .slider_control--next:hover, .prev:hover, .next:hover {
  background: white;
  color: black;
  opacity: 50%; }

.slider_control {
  background: none;
  color: white;
  border: none;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
  opacity: 0%; }

.slider_control--prev {
  left: 10px;
  opacity: 30%;
  border-radius: 0 3px 3px 0; }

.slider_control--next {
  right: 10px;
  opacity: 30%;
  border-radius: 3px 0 0 3px; }

/* End Slider Control */
.tag_text, .tag_button {
  color: white;
  font-weight: bold;
  font-size: 12px; }
  .tag_text:hover, .tag_button:hover {
    color: black; }

.tag_button {
  padding: 12px 20px;
  margin-right: 6px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-color: #2c3852;
  border-radius: 30px; }
  .tag_button:hover {
    background-color: white; }

.margin_top {
  margin-top: 20px; }

.margin_top_50 {
  margin-top: 50px; }

.margin_top_70 {
  margin-top: 70px; }

@media screen and (max-width: 1200px) {
  .margin_top_media {
    margin-top: 40px; } }

.text_line {
  color: black; }

.category {
  border-bottom: 3px solid orange;
  width: 40px;
  margin-bottom: 20px; }

.grid_components {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid_template-rows: 2fr;
  margin-bottom: 1em; }

.grid_components_qty {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2; }

.components_desc {
  font-size: 11px;
  color: #9999a8; }

/* IMAGE SLIDER */
.container {
  position: relative; }

.mySlides {
  display: none; }

.cursor {
  cursor: pointer; }

.prev, .next {
  top: 50%;
  width: auto;
  margin-top: -50px;
  color: white;
  opacity: 30%; }

.prev {
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  height: 75px;
  width: 16.66%; }

.demo {
  opacity: 0.6; }
  .demo:hover {
    opacity: 1; }

.active {
  opacity: 1; }

.gallery_text, .gallery_button {
  color: black;
  font-size: 12px;
  font-weight: bold; }
  .gallery_text:hover, .gallery_button:hover {
    color: black; }

.gallery_button {
  text-align: center;
  padding: 12px 20px;
  margin-right: 6px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-color: orange;
  border-radius: 30px; }
  .gallery_button:hover {
    background-color: white; }

.small_text {
  font-size: 13px; }
